<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Settings-->
    <add key="Storage:ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Storage:SecondaryConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Storage:ContainerName" value="status"/>
    <add key="Storage:BlobName" value="status.json"/>
    <add key="Storage:TableName" value="status"/>
    <add key="KeyVault:VaultName" value=""/>
    <add key="KeyVault:CertificateThumbprint" value=""/>
    <add key="KeyVault:ClientId" value=""/>
    <add key="KeyVault:StoreLocation" value=""/>
    <add key="KeyVault:StoreName" value=""/>
    <add key="KeyVault:ValidateCertificate" value="false"/>
    <add key="NuGetBaseUrl" value="https://dev.nugettest.org"/>
    <add key="Ida:AdminEnabled" value="false"/>
    <add key="Ida:RootUri" value=""/>
    <add key="Ida:AADInstance" value=""/>
    <add key="Ida:ClientId" value=""/>
    <add key="Ida:Tenant" value=""/>
    <add key="ExternalBrandingMessage" value="© Microsoft 2019"/>
    <add key="ExternalPrivacyPolicyUrl" value="https://go.microsoft.com/fwlink/?LinkId=521839"/>
    <add key="TrademarksUrl" value="https://www.microsoft.com/trademarks"/>
    <add key="ApplicationInsightsKey" value=""/>
  </appSettings>
  <system.web>
    <authentication mode="None">
      <forms requireSSL="true"/>
    </authentication>
    <httpCookies requireSSL="true" httpOnlyCookies="true"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="false"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/InternalError" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Errors/NotFound"/>
      <error statusCode="500" redirect="~/Errors/InternalError"/>
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="deny"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="StaticGalleryContent" path="*" verb="GET,HEAD" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
</configuration>
