@using NuGet.Services.Status
@model ServiceStatus

<h2>CDN Status</h2>

<p>If you experience connectivity issues but all other indicators on this status page look normal, there may be an issue with our Content Delivery Network (CDN).</p>
<p><a href="https://status.verizondigitalmedia.com/#network-status" target="_blank">Verify CDN network status.</a></p>